{extend name='Public/base'}

{block name="main"}
<div class="wrapper">
  <div class="row"> 
   <div class="col-sm-12"> 
    <section class="panel"> 
     <header class="panel-heading">
       Dynamic Table 
      <span class="tools pull-right"> <a href="javascript:;" class="fa fa-chevron-down"></a> <a href="javascript:;" class="fa fa-times"></a> </span> 
     </header> 
     <div class="panel-body"> 
      <div class="adv-table"> 
       <table class="display table table-bordered table-striped" id="dynamic-table"> 
        <thead> 
         <tr> 
          <th>数据id</th> 
          <th>房子描述</th> 
          <th>售价</th> 
          <th class="hidden-phone">户型</th> 
          <th>面积</th>  
          <th>图片集合</th> 
          <th></th> 
          <th>操作</th> 
         <!--  <th class="hidden-phone">单价</th> 
          <th>看房时间</th>
          <th>发布时间</th>
          <th class="hidden-phone">楼层</th> 
          <th class="hidden-phone">朝向</th> 
          <th>专修</th> 
          <th class="hidden-phone">楼型</th> 
          <th>建筑年代</th> 
          <th class="hidden-phone">商圈</th> 
          <th>小区</th> 
          <th class="hidden-phone">位置</th> 
          <th>推荐人</th> 
          <th class="hidden-phone">房源特色</th>  -->
          
         </tr> 
        </thead> 
        <tbody> 
        {foreach $data as $key => $value}
         <tr class="gradeX"> 
          <td>{$value.r_id}</td> 
          <td>{$value.r_desc}</td> 
          <td>{$value.sell_price}</td> 
          <td>{$value.house_type}</td> 
          <td >{$value.acreage}</td> 
          <td class="center hidden-phone">
             {foreach $value.pics as $pick => $valuep}
                  <img src="{$valuep}" width="100rem"><br />
             {/foreach}
          </td>
          <td>...</td>
          <td>
            <form action="/house/{$value.r_id}" method="post"><input value="删除" type="submit"><input type="hidden" name="_method" value="DELETE"></form><hr />
            <a href="/house/{$value.r_id}/edit"><button>修改</button></a>
          </td> 
         
         </tr> 
         {/foreach}
        
        </tbody> 
       <!--  <tfoot> 
         <tr> 
           <th>数据id</th> 
          <th>房子描述</th> 
          <th>售价</th> 
          <th class="hidden-phone">户型</th> 
          <th>面积</th>  
          <th>图片集合</th> 
          <th class="hidden-phone">单价</th> 
          <th>看房时间</th>
          <th>发布时间</th>
          <th class="hidden-phone">楼层</th> 
          <th class="hidden-phone">朝向</th> 
          <th>专修</th> 
          <th class="hidden-phone">楼型</th> 
          <th>建筑年代</th> 
          <th class="hidden-phone">商圈</th> 
          <th>小区</th> 
          <th class="hidden-phone">位置</th> 
          <th>推荐人</th> 
          <th class="hidden-phone">房源特色</th> 
         </tr> 
        </tfoot>  -->
       </table> 
      </div> 
     </div> 
    </section> 
   </div> 
  </div>
</div>
{/block}

{block name="main_footer"}
<footer class=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            2019©Administator by </font></font><a href="http://me.kervi.cn" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">kervi</font></font></a>
</footer>



<!--dynamic table-->
<script type="text/javascript" language="javascript" src="static\AdminEx/js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="static\AdminEx/js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<script src="static\AdminEx/js/dynamic_table_init.js"></script>

{/block}